<div class="container">
  <div class="row">
    <app-formulario (productoCreado)="onProductoCreado($event)"></app-formulario>
  </div>
  <div class="row listas">
      <div class="izq">
        <app-lista-productos [productoss]="productosSeleccionados" textoBoton="COMPRAR" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
      </div>

      <div class="der">
        <app-lista-productos [productoss]="productosComprados" textoBoton="QUITAR" (productoSeleccionado)="onProductoNoSeleccionado($event)"></app-lista-productos>
      </div>
  </div>
</div>